<div class="section page-container" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>Hi I'm <strong>Moh Souley</strong>  .
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
              sunt ratione. Dolore deserunt possimus ducimus illo asperiores nesciunt, quis, nam commodi eum, aliquam odit quibusdam fugit quod? Iure, rem voluptate?


            <p>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure in exercitationem quidem libero consectetur fugit, deserunt ad quos qui suscipit explicabo sint consequuntur, natus ipsam. Autem iste asperiores ex ad.
            </p>


          </div>
        </div>
        <div class="col-lg-6 col-md-12 ">
          <div class="card-body ">
            <div class="h4 mt-0 title pd-top-2">Basic Information</div>
            <div class="row">
              <div class="col-sm-4">
                <strong class="text-uppercase">Date of Birth:</strong>
              </div>
              <div class="col-sm-8">My date</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email:</strong>
              </div>
              <div class="col-sm-8">mo.souley@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Phone:</strong>
              </div>
              <div class="col-sm-8">+254 112063095</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Address:</strong>
              </div>
              <div class="col-sm-8">Orient Garden
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Language:</strong>
              </div>
              <div class="col-sm-8">French, English</div>
            </div>
          </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="bgc-grey-100" fill-opacity="0.5" d="M0,128L24,106.7C48,85,96,43,144,48C192,53,240,107,288,149.3C336,192,384,224,432,213.3C480,203,528,149,576,122.7C624,96,672,96,720,128C768,160,816,224,864,229.3C912,235,960,181,1008,165.3C1056,149,1104,171,1152,181.3C1200,192,1248,192,1296,160C1344,128,1392,64,1416,32L1440,0L1440,320L1416,320C1392,320,1344,320,1296,320C1248,320,1200,320,1152,320C1104,320,1056,320,1008,320C960,320,912,320,864,320C816,320,768,320,720,320C672,320,624,320,576,320C528,320,480,320,432,320C384,320,336,320,288,320C240,320,192,320,144,320C96,320,48,320,24,320L0,320Z"></path></svg>
      </div>
    </div>

  </div>

</div>
