<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2015 - 2021</p>
            <div class="h5"></div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5"></div>
             <h4 class="category">
             </h4>
             <ul>
              <li>  <b></b> </li>
                <li><b>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo alias numquam saepe eaque iusto
                    laborum! Asperiores numquam assumenda laudantium, sapiente minima eligendi tempore soluta sit aut deleniti quidem id similique?</b>.</li>
               <li>Won the <b>Best Student Award</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, alias. Suscipit sunt fugit rem error, vitae voluptatem. Tempore nesciunt
                aspernatur ratione sit, quis nihil optio, doloribus, minus consequatur recusandae sint?</li>
               <li> <b></b> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores ad quae expedita aperiam ex! Inventore
                vitae voluptate magni ipsam dignissimos animi eaque, aperiam sed repellat fugit dolor. Voluptatem, voluptas quos!</li>
           </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2013 - 2023</p>
            <div class="h5">Higher </div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Higher Secondary</div>
             <h4 class="category">
             </h4>
             <ul>
              <li>
                  </li>
                  <li>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed aliquid laboriosam, velit atque magni odio harum dolores aliquam ducimus? Earum, omnis tempora! Cumque accusamus reprehenderit beatae optio eum consequuntur dicta.
                  </li>
                  <li>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos reprehenderit cumque quia ullam, ipsa sit eveniet tempora
                      veritatis saepe placeat doloremque commodi praesentium rerum, error iste vitae. Quibusdam, quis numquam.<b> 78%</b>.
                  </li>
           </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2012 - 2021</p>
            <div class="h5">Sedcondary School</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat ipsa quaerat nihil, delectus fugiat optio necessitatibus placeat eum hic quam earum? Nam doloremque ullam eos placeat assumenda pariatur voluptatum laudantium.</div>
             <h4 class="category">
             </h4>
             <ul>
              <li>
              </li>

              <li>
                  <b>84%</b>.
              </li>
           </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
